:root{
    --primary: #A435F0;
    --primary-dark: #590f8a;
    --primary-light: #D0B8E0;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    width: calc(100vw - 7px);
    padding: 20px 50px 50px 50px;
    box-sizing: border-box;
}

header{
    color: var(--primary-dark);
}

article{
    margin-top: 10vh;
    padding: 0 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    color: #000;
    font-size: 14pt;
    font-weight: 600;
    border-radius: 5px;
    transition: 500ms;
}

.card:hover{
    background-color: #FFF;
    color: var(--primary-dark);
    box-shadow: 0 1px 7px var(--primary-dark);
}

.home{
    padding: 20px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--primary-light);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-dark);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary);
}